html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;   
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: none;
}


@keyframes iterateVisibility {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-moz-keyframes iterateVisibility  {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes iterateVisibility {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.run-interate-visibility {
  animation: iterateVisibility 1s linear infinite ;
  -moz-animation: iterateVisibility 1s linear infinite ;
  -webkit-animation: iterateVisibility 1s linear infinite ;
}

